<article id="genre" class="genre">
  <header>
    <h1><%= @genre.name %> Movies</h1>
  </header>
  <ul>
    <% @genre.movies.each do |movie| %>
      <li><%= link_to movie.title, movie %></li>
    <% end %>
  </ul>
</article>
